<!-- About Section -->
	<section class="success2" id="about" style="margin:0;color:black;background-image:url(images/mosaiq5_6.jpg);background-size: 114%;background-position: right;/*! opacity: 0.5; *//*! z-index: -1; */background-color: hsla(80,20%,100%,0.9);background-blend-mode: overlay;background-repeat: no-repeat;">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>Who we are</h2>
				</br><!--<hr class="star-light">-->
	            </div>
	        </div>
	        <div class="row">

	            <div class="col-lg-4 col-lg-offset-2" style="text-align: justify">
					<!--<img src="images/ccl_pllab.jpg" align="left" style="margin:3px 23px 10px 0px" height=150px >-->
	                {{ ABOUT_1 }}
				</div>
				<div class="col-sm">
            		<div class="hidden-lg"></br></div>
				</div>
	            <div class="col-lg-4" style="text-align: justify">
					<!--<img src="images/fdy_pllab.jpg" align="right" style="margin:3px 0 10px 23px" height=150px >-->
	                {{ ABOUT_2 }}
				</div>
	            <div class="col-lg-8 col-lg-offset-2 text-center" style="text-align: justify">
	                {{ ABOUT_CENTER }}
	            </div>
	        </div>
	    </div>
	</section>
