{% extends "base.html" %}

{% block title %}
	{{SITENAME}}
{% endblock %}

{% block nav %}
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:rgba(255, 255, 255, 0.7)">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="focusme" class="navbar-brand" href="#page-top">{{SITENAME}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            {% for link, title  in NAVLINKS %}
            	{%if title == '' %}
            	<li class="hidden">
                    <a href="{{link}}"></a>
                </li>
                {% else %}
                <li class="page-scroll">
                    <a href="{{link}}">{{title}}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}

{% block header %}
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{{ SITEURL }}/images/pieds_cclfdy01.jpg" alt=""> <!--ccl-->
                <div class="intro-text">
                    <!--<span class="name">{{SITENAME}}</span>-->
                    <!--<hr class="star-light">-->
                    <!--<span class="skills">{{SITESUBTITLE1}}</span>-->
					<p style="font-size:35px; letter-spacing:5px"><b>Fdy. LIM</b>pens&nbsp;&amp;&nbsp;<b>Ccl. PICA</b>rd</p>
					<span class="skills">{{SITESUBTITLE2}}</span>

                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block grid %}
<!-- Portfolio Grid Section -->
<section id="portfolio">
	<h2>projects</h2>
    <div class="container" >
		<div class="filters filters-select">
			<span class="tags left">
				<a href="" class="button filter" data-filter="*">all</a>
				&middot;
				{% for tag in tags %}
					{% if loop.index > 1 %}&middot;{% endif %}  <a href="#{{tag[0].name}}" class="button filter" data-filter=".{{tag[0].name}}">{{tag[0].name}}</a>
				{% endfor %}
			</span>

			<span class="authors right">
				<a class="button filter" data-filter="*">all</a>
				&middot;
				{% for author in authors %}
					{% if loop.index > 1 %}&middot;{% endif %} <a href="#{{author[0].name}}" class="button filter" data-filter=".{{author[0].name}}">{{author[0].name}}</a>
				{% endfor%}
			</span>

		</div>
    	<div class="grid">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <!-- <h2>{{PORTFOLIO}}</h2> -->
					<h2></h2>
	                <br/><!--<hr class="star-primary">-->
	            </div>
	        </div>

	        <div class="row">
	        {% if articles %}
	        	{% for article in articles_page.object_list %}
		        <div class="col-sm-4 portfolio-item grid-item {% for a in article.authors %} {{ a }} {% endfor %} {% if article.tags %}{% for t in article.tags %} {{t}} {% endfor %}{% endif %} ">
	        	    <a href="#portfolioModal{{loop.index}}" class="portfolio-link" data-toggle="modal">
					<!--<a href="#" class="portfolio-link" data-target="#portfolioModal{{loop.index}}" data-toggle="modal" data-remote="http://example.com/whatever">-->
	        	        <div class="caption">
	        	            <div class="caption-content">
								<h4>{{article.shorttitle}}</h4>
	        	                <i class="fa fa-search-plus fa-2x"></i>
	        	            </div>
	        	        </div>
	        	        <img src="{{ SITEURL }}/images/portfolio/{{article.image}}" class="img-responsive" alt="">
	        	    </a>
		        </div>
		        {% endfor %}
	        {% endif %}

	        </div>
		</div>
    </div>
</section>
{% endblock %}

{% block contact %}
	<!-- Contact Section -->
	<section id="contact">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 text-center">
	                <h2>Contact Us</h2>
					</br>
					<!--<a href="https://www.openstreetmap.org/?mlat=50.6332&amp;mlon=3.0612#map=14/50.6332/3.0612&amp;layers=H" target="_blank"><img src="{{ SITEURL }}/images/portfolio/map.png" class="img-responsive img-centered" alt=""></a>-->
	            </div>
	        </div>

			<br/>
			<div style="text-align:center">
				<a href="#contact" target="_top" class="email">freddy<span class="iamnotaat"></span></a>
				&nbsp;&nbsp;-&nbsp;&nbsp;
				<a href="#contact" target="_top" class="email">cecile<span class="iamnotaat"></span></a>
			</div>
	    </div>
	</section>

{% endblock %}

{% block modals %}
	{% if articles %}
    	{% for article in articles_page.object_list %}
			<div class="portfolio-modal modal fade" id="portfolioModal{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true">
			    <div class="modal-content">
			        <div class="close-modal" data-dismiss="modal">
			            <div class="lr">
			                <div class="rl">
			                </div>
			            </div>
			        </div>
			        <div class="container">
			            <div class="row">
			                <div class="col-lg-8 col-lg-offset-2">
			                    <div class="modal-body">
			                        <h2 style="text-align:center">{{article.title}}</h2>
			                        <hr class="star-primary">
									<div class="info">
								        {{ article.date.strftime("%b %d, %Y") }} &nbsp;&middot;&nbsp;
										<!-- <a href="{{ SITEURL }}/{{ article.author}}">by {{ article.author }}</a>   -->
										by {% for a in article.authors %}{%if loop.index > 1%}&nbsp;&middot;&nbsp;{%endif%}<a href="#portfolio" class="button filter" data-filter=".{{a}}">{{a}}</a>
										{%endfor%}
										&nbsp;&middot;&nbsp;
										{% if article.tags %} Tags: {% for t in article.tags %} &nbsp;
										<a href="#portfolio" class="button filter" data-filter=".{{t}}">{{t}}</a>
										{% endfor %} {% endif %}
								    </div>
									<p></p>
			                        <img src="{{ SITEURL }}/images/portfolio/{{article.image}}" class="img-responsive img-centered" alt="">
			                        <p>{{article.content}}</p>

			                        <button type="button" class="btn btn-default"  style="color:black; background:white" onmouseover="this.style.color='white';this.style.background='black'" onmouseout="this.style.color='black';this.style.background='white'" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		{% endfor %}
	{% endif %}
<!-- Portfolio Modals -->
{% endblock %}
